h1 {
  text-align: center;
  text-transform: uppercase;
  color: var(--light);
}

form {
  max-width: 25rem;
  margin: var(--rem-2) auto;
  padding: var(--rem-1);
  background-color: var(--third);
  border-radius: var(--border-radius-md);
  text-align: center;
}

form a {
  color: var(--light);
  text-transform: uppercase;
  transition: color 0.3s ease;
}

form a:hover,
form a:active {
  color: var(--primary)
}

form hr {
  border-color: var(--primary);
  margin: var(--rem-1);
}

label {
  color: var(--light);
  display: block;
  margin-bottom: var(--size-8); 
}

input, textarea {
  font: inherit;
  padding: var(--size-8);
  border-radius: var(--border-radius-sm);
  border: none;
  outline: none;
  width: 90%;
}