h1 {
  text-align: center;
  text-transform: uppercase;
  color: var(--light);
}

form {
  max-width: 25rem;
  margin: var(--rem-2) auto;
  padding: var(--rem-1);
  background-color: var(--third);
  border-radius: var(--border-radius-md);
  text-align: center;
}

form a {
  color: var(--light);
  text-transform: uppercase;
  transition: color 0.3s ease;
}

form a:hover,
form a:active {
  color: var(--primary)
}