* {
  box-sizing: border-box;
}

:root {
  --light: #fffaf0;
  --dark: #111;
  --grey-xl: #eee;
  --grey-lg: #ccc;
  --grey-md: #888;
  --grey-dk: #333;
  --primary: #ff4500;
  --secondary: #33afe0;
  --third: #012222;

  --size-1: 1px;
  --size-2: 2px;
  --size-3: 3px;
  --size-4: 4px;
  --size-5: 5px;
  --size-6: 6px;
  --size-8: 8px;      /* 0.5rem */
  --size-10: 10px;
  --size-12: 12px;
  --size-15: 15px;
  --size-20: 20px;
  --size-25: 25px;
  --rem-1: 1rem;      /* 16px */
  --rem-1-5: 1.5rem;  /* 24px */
  --rem-2: 2rem;      /* 32px */
  --rem-2-5: 2.5rem;  /* 40px */ 

  --border-radius-sm: var(--size-3);
  --border-radius-md: var(--size-5);
  --border-radius-lg: var(--size-8);

  --box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  background-color: var(--dark);
  color: var(--light);
  margin: 0;
  outline: none;
}

main {
  width: 90%;
  max-width: 50rem;
  margin: 0 auto;
}

.logo {
  font-family: 'Caveat', cursive;
  font-size: var(--rem-1-5);
  padding: var(--rem-2);
}

h1 {
  font-weight: 300;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--primary);
}

.btn {
  cursor: pointer;
  font-family: inherit;
  font-weight: 400;
  font-size: var(--size-20);
  text-transform: uppercase;
  padding: var(--size-4) var(--size-8);
  background-color: var(--primary);
  color: var(--light);
  border: none;
  border-radius: var(--border-radius-sm);
  transition: all 0.3s ease;
}

.btn:hover,
.btn:active {
  background-color: var(--light);
  color: var(--primary);
}

.switch-form {
  color: var(--light);
}

input {
  outline: none;
  border: none;
}